.room_list {
  display: flex;
}

.room {
  list-style: none;
  background-color: #f9ecd5;
  width: fit-content;
}

.image {
    width: 200px;
    height: auto;
}

table th {
    background-color: #191970;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  
table td {
    background-color: #f9ecd5;
    text-align: center;
  }

.top_page {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.anchor {
  text-decoration: none;
}

header {
  background-color:#191970;
}

.header_logo {
  color: white;

}

.header_image {
  width: 40px;
  height: auto;
}

.header_nav {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommend_area {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0 0 130px;
  text-align: start;
}

.recommend {
  max-width: 1440px;
  margin: 250px auto 0 auto;
  text-align: center;
}

.search_tokyo {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/tokyo.jpg") ;
  background-size: cover;
  padding: 200px 100px;
  text-decoration: none;
  color: white;
}

.search_osaka {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/osaka.jpg") ;
  background-size: cover;
  padding: 200px 100px;
  text-decoration: none;
  color: white;
}
.search_kyoto {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/kyoto.jpg") ;
  background-size: cover;
  padding: 200px 100px;
  text-decoration: none;
  color: white;
}
.search_sapporo {
  background-image: url("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/sapporo.jpg") ;
  background-size: cover;
  padding: 200px 100px;
  text-decoration: none;
  color: white;
}
